:root {
    --amarillo: #f8e12e;
    --naranja: #F48B48;
    --marron: #664731;
    --rojo: #b90000;
    --negro: #000000;
    --rosa: #aaa;
    --azul: #293f7b;
    --verde: #7ed957;
    --blanco: #e5e6f9;
    --gris: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid rgb(255, 0, 0); */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--rosa);
    color: var(--gris);
}

main {
    margin: 2rem auto;
    padding: 0 1rem;
}

header {
    /*violeta */
    display: flex;
    background: var(--gris);
    color: var(--blanco);
    padding: 1rem 0;
    width: 80%;
    margin: 20px auto 0;
    flex-direction: column;
}

header h1 {
    margin: 0;
    margin-left: 54px;
    font-size: 3vi;
}

header img {
    display: block;
    width: 90%;
    height: 190px;
    object-fit: cover;
    margin: 22px auto;
    border-radius: 20px;
}

nav {
    position: absolute;
    right: 131px;
    top: 7px;
    margin-right: 15px;
}

nav a {
    color: var(--rojo);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

nav a:target {
    text-decoration: none;
    color: #f4f4f4;
    background-color: var(--rojo);
}

nav img {
    height: 50px;
    width: auto;
}

.btn {
    font-weight: 700;
    color: var(--marron);
    padding: 5px 25px;
    background: var(--amarillo);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.btn:hover {
    color: var(--blanco);
    background-color: #b41d24;
}

.btn.current {
    background-color: var(--rojo)
}

nav a.current {
    color: var(--blanco);
    background-color: #b41d24;
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--blanco);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    justify-content: center;
}

.events h2 {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--blanco);
    text-align: center;
    background-color: var(--gris);
    padding: 10px;
}

.events .article {
    flex-direction: column;
    margin-bottom: 1rem;
}

.events img {
    display: flex;
    /* margin: 0 auto; */
    /* margin-top: 25%; */
    /* margin-bottom: 25%; */
    max-width: 20%;
    height: auto;
    align-items: center;
    margin-bottom: 1rem;
}

.events h3 {
    margin-bottom: 5px;
    color: var(--gris);
}

.events p {
    color: var(--rojo);
}

.newEvent {
    width: 770px;
    height: auto;
    background-color: var(--amarillo);
    border-radius: 16px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    margin: 1px;
    align-items: center;
    font-size: 3vh;
    padding: 20px;
}

.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--blanco);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    justify-content: center;
}

.sections h2 {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--blanco);
    text-align: center;
    background-color: var(--gris);
    padding: 10px;
}

.sections .article {
    flex-direction: column;
    margin-bottom: 1rem;
}

.sections img {
    display: flex;
    margin: 0 auto;
    max-width: 20%;
    height: 20%;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 5%;
}

.sections h3 {
    margin-bottom: 5px;
    color: var(--gris);
}

.sections p {
    color: var(--rojo);
}

.eventGame {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: white;
    margin: 1px;
    margin-top: 100px;
    color: var(--marron);
}

.eventGame .imgGame {
    width: auto;
    height: 100%;
    background-color: var(--amarillo);
}

.eventGame .pGame {
    color: var(--gris);
    text-align: center;
    margin-top: 2%;
}

.sectionMaps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--blanco);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    justify-content: space-between;
}

.sectionMaps h4 {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--blanco);
    text-align: center;
    background-color: var(--gris);
    padding: 10px;
}

.sectionMaps div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    background: var(--amarillo);
    color: var(--gris);
    font-size: 1.5rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    justify-content: center;
    border-radius: 15%;
}

.ol-abcd {
    list-style: lower-alpha;
}

.article {
    display: flex;
    flex-direction: row;
    /* Alinear imagen y tabla en una fila */
    align-items: flex-start;
    /* Alinear elementos al inicio */
    margin-bottom: 1rem;
    align-items: center;
}

.article table {
    width: auto;
    border: 2px solid transparent;
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: var(--amarillo);
    border-collapse: collapse;
}

.article img {
    max-width: 20%;
    /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    /* Mantiene la proporción de la imagen */
    margin-right: 1rem;
    /* Espacio entre la imagen y la tabla */
}

td,
th {
    font-family: fantasy;
    font-weight: bold;
    width: 200px;
    height: 30px;
    border: 2px solid transparent;
    text-align: center;
    padding: 5px;
    background-color: var(--amarillo);
    border-collapse: collapse;

}

th {
    background: var(--gris);
    color: var(--blanco);
}

#important {
    color: var(--marron);
    text-align: end;
}

#dates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

#pRules {
    color: #000;
    text-align: justify;
    font-size: 1.5rem;
}

.fPersonal {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1px;
    align-items: center;
    font-size: 3vh;
    padding: 20px;
}

.fSchool {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* width: auto;
    height: auto; 
    /* margin: 1px; 
    font-size: 3vh;
    padding: 20px;*/
}

.fSchool p {
    align-self: flex-start;
}

.fSchool div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--amarillo);
    margin: 1px;
}

footer {
    background: var(--gris);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* @media (max-width: 800px) {
    header {
        width: 100%;
    }
    nav {
        position: static;
        text-align: center;
        margin-top: 10px;
    }
    nav a {
        display: block;
        padding: 8px 0;
        justify-content: space-between;
    }

    .events,
    .sections {
        padding: 1rem;
    }
    .article img {
        max-width: 10%;
        background-color: blue;
    }
    .newEvent{
        font-size: 100%;
    }
} */

/* @media (max-width: 600px) { 
    header {
        width: 100%;
        text-align: center;
    }
    header h1 {
        margin-left: 0;
    }
    nav {
        position: static;
        text-align: center;
        margin-top: 10px;
    }
    nav a {
        display: block;
        padding: 8px 0;
    }
    .events,
    .sections,
    .newEvent,
    .eventGame {
        flex-direction: column;
        align-items: center;
    }
    .events img,
    .sections img,
    .newEvent img,
    .eventGame .imgGame {
        max-width: 100%;
    }
    .fPersonal {
        grid-template-columns: 1fr;
    }
    .fSchool div {
        width: 100%;
    }
} */
